services:
    laravel_app:
        build: .
        container_name: laravel_app
        restart: unless-stopped
        environment:
            APP_ENV: local
            APP_DEBUG: true
            APP_KEY: base64:somekeyhere
            DB_CONNECTION: mysql
            DB_HOST: db
            DB_PORT: 3306
            DB_DATABASE: laravel
            DB_USERNAME: root
            DB_PASSWORD: root
        ports:
            - "8000:8000"
        volumes:
            - .:/var/www/html
        depends_on:
            - db

    db:
        image: mysql:8.0
        container_name: mysql_db
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root     # пароль для root
            MYSQL_DATABASE: laravel       # база, которая будет создана автоматически
            # Убираем MYSQL_USER и MYSQL_PASSWORD для root
        ports:
            - "3306:3306"
        volumes:
            - dbdata:/var/lib/mysql

    node:
        image: node:18
        container_name: node_service
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html
        ports:
            - "5173:5173"
        command: sh -c "npm install && npm run dev -- --host 0.0.0.0"

volumes:
    dbdata:
