version: '3.8'

services:
    laravel_app:
        build: .
        container_name: laravel_app
        restart: unless-stopped
        environment:
            APP_ENV: local
            APP_DEBUG: true
            DB_CONNECTION: mysql
            DB_HOST: db
            DB_PORT: 3306
            DB_DATABASE: laravel
            DB_USERNAME: root
            DB_PASSWORD: root
        ports:
            - "8000:8000"
        volumes:
            - .:/var/www/html
        depends_on:
            - db
        command: >
            sh -c "
            echo 'Ожидание базы данных...' &&
            while ! nc -z db 3306; do sleep 1; done &&
            php artisan migrate --force &&
            php artisan db:seed --force &&
            php artisan serve --host=0.0.0.0 --port=8000
            "

    db:
        image: mysql:8.0
        container_name: mysql_db
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: laravel
        ports:
            - "3306:3306"
        volumes:
            - dbdata:/var/lib/mysql

volumes:
    dbdata:
